[submodule "ansible-nginx"]
	path = ansible-nginx
	url = git@github.com:speedmann/ansible-nginx.git
[submodule "roles/ansible-nginx"]
	path = roles/ansible-nginx
	url = git@github.com:speedmann/ansible-nginx.git
[submodule "roles/ansible-letsencrypt"]
	path = roles/ansible-letsencrypt
	url = git@github.com:nickjj/ansible-letsencrypt.git
