[submodule "ansible-nginx"]
	path = ansible-nginx
	url = git@github.com:speedmann/ansible-nginx.git
[submodule "roles/ansible-nginx"]
	path = roles/ansible-nginx
	url = git@github.com:speedmann/ansible-nginx.git
[submodule "roles/ansible-letsencrypt"]
	path = roles/ansible-letsencrypt
	url = git@github.com:nickjj/ansible-letsencrypt.git
[submodule "library/ansible-ovh"]
	path = library/ansible-ovh
	url = git@github.com:cornelius-keller/ansible-ovh.git
[submodule "roles/ansible-role-nginx"]
	path = roles/ansible-role-nginx
	url = git@github.com:jdauphant/ansible-role-nginx.git
